<!DOCTYPE html>
<html lang="en-US">

  <head>
    <title>{{ personal_details.name }}</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Material Resume</title>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="crossorigin"/>
    <link rel="preload" as="style" href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&amp;family=Roboto:wght@300;400;500;700&amp;display=swap"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&amp;family=Roboto:wght@300;400;500;700&amp;display=swap" media="print" onload="this.media='all'"/>
    <noscript>
      <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&amp;family=Roboto:wght@300;400;500;700&amp;display=swap"/>
        <!-- CSS only -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    </noscript>

      {% load static %}

    <link href="{% static 'myportfolio/css/font-awesome/css/all.min.css' %}" rel="stylesheet">
    <link href="{% static 'myportfolio/css/mdb.min.css' %}" rel="stylesheet">
    <link href="{% static 'myportfolio/css/aos.css' %}" rel="stylesheet">
    <link href="{% static 'myportfolio/css/main.css' %}" rel="stylesheet">
    <noscript>
      <style type="text/css">
        [data-aos] {
            opacity: 1 !important;
            transform: translate(0) scale(1) !important;
        }
      </style>
    </noscript>
  </head>

  <body class="bg-light" id="top">

    {% include 'myportfolio/sections/header.html' %}

    <div class="page-content">
        <div class="container">
            <div class="resume-container">

                {% include 'myportfolio/sections/intro.html' %}
                {% include 'myportfolio/sections/about.html' %}
                {% include 'myportfolio/sections/skills.html' %}
                {% include 'myportfolio/sections/experiences.html' %}
                {% include 'myportfolio/sections/project.html' %}
                {% include 'myportfolio/sections/reference.html' %}
                {% include 'myportfolio/sections/contact.html' %}

            </div>
        </div>
    </div>

    {% include 'myportfolio/sections/footer.html' %}

    <script src="{% static 'myportfolio/scripts/mdb.min.js' %}"></script>
    <script src="{% static 'myportfolio/scripts/aos.js' %}"></script>
    <script src="{% static 'myportfolio/scripts/main.js' %}"></script>
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  </body>

</html>