<div class="shadow-1-strong bg-white my-5 p-5" id="education">
  <div class="education-section">
    {% if edit %}
        {% include 'myportfolio/widgets/forms.html' with field="EDUCATION" form=education_form  %}
    {% else %}
        <h2 class="h2 fw-light mb-4">Education</h2>
    {% endif %}


  <div class="timeline">
      {% for education in educations %}
        <div class="timeline-card timeline-card-success" data-aos="fade-in" data-aos-delay="0">
          <div class="timeline-head px-4 pt-3">
            <div class="h5">{{ education.title }} <span class="text-muted h6">from {{ education.alma_mater }}</span></div>
          </div>
          <div class="timeline-body px-4 pb-4">
            <div class="text-muted text-small mb-3">{{ education.start_year }} - {{ education.end_year }}</div>
            <div>{{ education.description }}</div>
          </div>
        </div>
          {% if edit %}
              {% include 'myportfolio/widgets/delete_forms.html' with field="EDUCATION" pk=education.pk  %}
          {% endif %}
      {% endfor %}
  </div>
</div>
</div>

