<header class="d-print-none">
      <div class="container text-center text-lg-left">
        <div class="pt-4 clearfix">
          <h1 class="site-title mb-0">{{ personal_details.name }}</h1>
          <div class="site-nav">
            <nav role="navigation">
              <ul class="nav justify-content-center">
                <li class="nav-item"><a class="nav-link" href="#about" title="About"><span class="menu-title">About</span></a>
                </li>
                <li class="nav-item"><a class="nav-link" href="#skills" title="Skills"><span class="menu-title">Skills</span></a>
                </li>
                <li class="nav-item"><a class="nav-link" href="#experience" title="Experience"><span class="menu-title">Experience</span></a>
                </li>
                <li class="nav-item"><a class="nav-link" href="#education" title="Education"><span class="menu-title">Education</span></a>
                </li>
                <li class="nav-item"><a class="nav-link" href="#portfolio" title="Portfolio"><span class="menu-title">Portfolio</span></a>
                </li>
                <li class="nav-item"><a class="nav-link" href="#references" title="References"><span class="menu-title">References</span></a>
                </li>
                <li class="nav-item"><a class="nav-link" href="#contact" title="Contact"><span class="menu-title">Contact</span></a>
                </li>
                {% if not edit %}<li class="nav-item"><a class="nav-link" href={% url 'edit' personal_details.slug %}><span class="menu-title">Edit</span></a>
                </li>{% endif %}
                {% if user.is_authenticated %}<li class="nav-item"><a class="nav-link" href={% url 'logout' %}><span class="menu-title">Logout</span></a>
                </li>{% endif %}
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </header>